<section class="grid_12 slideshow">

  


  <div id='coin-slider'>
    <a href="#" target="_blank" width="960px" height="550px">
      <%=image_tag "slideshow.jpg", :width => "960px", :height => "550px" %>
      <span>
        Description for img01
      </span>
    </a>
    <a href="#" target="_blank" width="960px" height="550px">
      <%=image_tag "slideshow.jpg", :width => "960px", :height => "550px" %>
      <span>
        Description for img01
      </span>
    </a>
    
  </div>

</section>
<%- content_for :additional_scripts do -%>
<%= stylesheet_link_tag "coin-slider"%>
<%= javascript_include_tag "coin-slider.min" %>
<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider( {width: 960, height: 550} );
	});
</script>
<%- end -%>
