<section class="prefix_2 slideshow">

  <%#=link_to image_tag "slideshow.jpg", :width => "640px"%>


  <div id='coin-slider'>

    <a href="#" target="_blank" width="640px">
      <%=image_tag "slideshow.jpg", :width => "640px" %>
      <span>
        Description for img01
      </span>
    </a>
    <a href="#" target="_blank" width="640px">
      <%=image_tag "slideshow.jpg", :width => "640px" %>
      <span>
        Description for img01
      </span>
    </a>
    
  </div>

</section>
<%- content_for :additional_scripts do -%>
<%= stylesheet_link_tag "coin-slider"%>
<%= javascript_include_tag "coin-slider.min" %>
<script type="text/javascript">
	$(document).ready(function() {
		$('#coin-slider').coinslider( {width: 640} );
	});
</script>
<%- end -%>
