<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
	<script src="http://www.google.com/jsapi"></script>
	<script type="text/javascript">
	  google.load("jquery", "1.3.2");
	</script>
  <%= javascript_include_tag "application", "rails" %>
  <%# = stylesheet_link_tag "960", "reset" %>
  
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
 
	<title>Noontec PH</title> 
</head> 
 
<body> 
<%= render "layouts/user_session" %>
<%= yield %>

</body>
</html>
